<li class="text-white">
    <span class="text-white"><i class="bi bi-telephone-fill text-success"></i> Telefono: </span><a
        href="https://wa.me/5493764565811">{{detail.phone}}</a>
</li>
<li class="text-white">
    <span class="text-white"><i class="bi bi-envelope-at-fill text-success"></i> Email: </span><a
        href="mailto:info@coracampos.com.ar">{{detail.email}}</a>
</li>
<li class="text-white">
    <span class="text-white"><i class="bi bi-geo-alt-fill text-success"></i> Ubicación:
    </span><a
        href="https://maps.app.goo.gl/3yWrJV5rdkg2Sshw6">{{detail.location}}
    </a>
    <br>
    <!-- <div class="d-flex justify-content-center"><img src="../../../../../assets/footer/edificio.jpg" class="imgUbi" alt=""></div> -->
    <div class="d-flex justify-content-center"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3543.447451108225!2d-55.893451224815415!3d-27.361738012114333!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9457bff69509d241%3A0x9feb5f47c27ce473!2sCor%C3%A1%20Campos!5e0!3m2!1ses-419!2sar!4v1709847943287!5m2!1ses-419!2sar" width="600" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
</li>